body{
  /* background-color: #9bb7bb; */
  background-color: rgb(182, 182, 182);
  /* background: radial-gradient(#c2c2c2 8%, transparent 8%), white; */
}

html {
  font-family: sans-serif;
  line-height: 1.15;
  color: #ffffff ;
  -webkit-text-size-adjust: 100%;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

h2{
 /* text-align: left; */
 margin-left: 11%;
 color: #2B262D ;
 font-size: 30px;
}

p{
  margin-left: 5%;
  margin-top: 2%;
  font-weight: bold;
  font-size: 20px;
  padding-top: 2%;
}

#canvas {
  position:absolute;
  border-radius: 7px; 
  border: rgb(31, 31, 87) solid 3px;
  background: #ffffff;;
  height: 97% ;
  width: 57% ;
  margin-top: 0.1%;
  margin-bottom: -1%;
  margin-left: 41.5%;
}

.cont-logo{
  position: absolute;
  width: 30px;
  height: 30px;
  margin-left: 3%;
}


.controls-box{
  position:absolute;
  /* background: #BACEC1 ; */
  height: 60% ;
  width: 35% ;
  margin-left: 0.3%;
  /* margin-top: 50px; */
  margin-top: 0.3%;
  /* margin-right: 0.2%; */
  /* padding-top: 5px; */
  box-sizing: border-box;

}

input{ 
  position:absolute;
  border-radius: 5px;
  border: #ffffff solid 2px;
  background-color: rgb(255, 255, 255) ;
  height: 8.5%;
  width: 8.5%;
  margin-left: 50%;
  margin-top: -11%;
  text-align: center;
}

input:hover{
  /* box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19); */
  background-color: #fff;
  border: 3px rgb(98, 139, 179) solid;
  color: #123C69;

}

#x, #y , #r , #s{
  border-radius: 6px;
  border: rgb(31, 31, 87) solid 3px;
  background: rgb(31, 31, 87);
  width: 70%;
  margin-bottom: 3%;
  margin-left: 3%;
}

.box1 {
  position: absolute;
  border-radius: 3px;
  width: 31px;
  height: 31px;
  margin-left: 1.5%;
  animation: circle 7s ;
  background: rgb(182, 182, 182);
  clip-path: circle(100%);
  z-index: -1;
  margin-top: 0.11%;
}

@keyframes circle {
  0% { clip-path: circle(25%); }
  25% { clip-path: circle(75%); }
  100% { clip-path: circle(75%); }
}

